# 1.

In [2]:
# code:
def next_in_line(lst, num):
    if not lst:
        return "No list has been selected"
    lst.append(num)
    lst.pop(0)
    return lst

# Test cases
print(next_in_line([5, 6, 7, 8, 9], 1))

[6, 7, 8, 9, 1]

# 2.

In [3]:
# code:
def get_budgets(lst):
    return sum(person['budget'] for person in lst)

# Test cases
print(get_budgets([
    { "name": "John", "age": 21, "budget": 23000 },
    { "name": "Steve", "age": 32, "budget": 40000 },
    { "name": "Martin", "age": 16, "budget": 2700 }
]))

65700

# 3.

In [5]:
# code:
def alphabet_soup(s):
    return ''.join(sorted(s))

# Test cases
print(alphabet_soup("hello"))  # Output: "ehllo"

ehllo

# 4.

In [6]:
# code:
def compound_interest(p, t, r, n):
    A = p * (1 + r/n)**(n*t)
    return round(A, 2)

# Example usage
print(compound_interest(10000, 10, 0.06, 12))  # compound_interest(amount, time(years), interest_rate, coumponunded_period )

18193.97

# 5.

In [7]:
# code:
def return_only_integer(lst):
    return [x for x in lst if isinstance(x, int)]

# Examples
print(return_only_integer([9, 2, "space", "car", "lion", 16]))  # Output: [9, 2, 16]
print(return_only_integer(["hello", 81, "basketball", 123, "fox"]))  # Output: [81, 123]

[9, 2, 16]
[81, 123]